<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img class="portrait" src="/img/untitled.png">
    <p>This project is created by Devansh Bhardwaj as a part of  NodeJS project series.
        To contact please email me at devanshb47@gmail.com.
    </p>
    </div>
    
    {{>footer}}
</body>

</html>